<!--Rodrick and Thea-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>World Cup Explorer</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cups.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='cups.js') }}" ></script>
</head>

<body>   

    <ul class="horizontal-navbar">
        <li><a href="/">Home</a></li>
	<li><a href="/help">Help</a></li>
    </ul>
 
    <h3>All World Cups (1930-2014)</h3> 
 
    <div id="menu">
      <div>
	<select id="team_selector" class="box" onchange="dataSelect(this)"></select>
      </div>
      <div id="spacer-white"></div>
      <div id="spacer-black"></div>
      <div id="spacer-white"></div>
      <div>
	<select id="p2" class="box" onchange="dataSelect(this)">
          <option>List of the champion team from each World Cup</option>
          <option>Top 20 highest goal scorers of all time</option>
          <option>Most attendance for a World Cup</option>
	  <option>Total attendance of all World Cups</option>
          <option selected>All WC queries</option>
	</select>
      </div>
    </div>
    
    <div id="results"></div>

</body>
</html>
