<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Links To Mockups</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cups.css') }}" />
        <script type="text/javascript" src="{{ url_for('static', filename='cups.js') }}" ></script>
    </head>

    <body>
        <ol>
            <li><a href="/mockup1">Mockup 1</a></li>
            <li><a href="/mockup2">Mockup 2</a></li>
            <li><a href="/mockup3">Mockup 3</a></li>
        </ol>
    </body>
</html>
