<!--Rodrick and Thea-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>World Cup Explorer</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cups.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='cups.js') }}" ></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='Soccer-Trophy-128.png') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='q.png') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='button.ico') }}" />
</head>

<body>   
      <div class='m1'>
    <ul class="horizontal-navbar">

      <li><a href="/">
            <image src= "{{ url_for('static', filename='Soccer-Trophy-128.png') }}" style="width:35px;height:30px;"></image>
      </a></li>
	<li><a href="/help">
            <image src= "{{ url_for('static', filename='q.png') }}" style="width:35px;height:30px;"></image>
      </a></li>
    </ul>
 
    <h3 id="page-title"></h3> 
      <select id="medal_choice" class="box" >
      <option>Medals</option>
	<option>Gold</option>
      <option>Silver</option>
      <option>Bronze</option>
      </select>
      
      <select id="team_selector" class="box"></select>
      <!--these will take you to the SpecificCup page-->
      <select id="world_cup_selector" class="box">
	<option>World Cups</option>
      </select>
      
      <button id="goal-scorers" onclick="onManyGoalsButtonPressed()">Top 10 Goal Scorers</button>
      <button id="m-data" onclick="dataSelect(this)">Medal Data</button>
      <button id="attend" onclick="dataSelect(this)">Attendances</button>
      <!--based on team selection in team_selector dropdown
	  (if a team is selected, just shows games that the
	  team played in. Maybe can show the results of two
	  teams against each other? See if that's possible.-->
      <button id="match-results" onclick="matchResults()">Match results</button>
<table id="results"></table>
    </div>

</body>
</html>
