<!--Rodrick and Thea-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>World Cup Explorer</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cups.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='cups.js') }}" ></script>
</head>

<body>   

    <ul class="horizontal-navbar">
        <li><a href="/">Home</a></li>
	<li><a href="/help">Help</a></li>
    </ul>
 
    <h3 id="page-title"></h3> 
 
    <div id="menu-panel">
      <select id="gold_selector" class="box" onchange="dataSelect(this)">
	<option>Golds</option>
      </select>
      <select id="silver_selector" class="box" onchange="dataSelect(this)">
	<option>Silvers</option>
      </select>
      <select id="bronze_selector" class="box" onchange="dataSelect(this)">
	<option>Bronzes</option>
      </select>
      <select id="attendance_selector" class="box" onchange="dataSelect(this)">
	<option>Attendances</option>
      </select>
      <select id="team_selector" class="box" onchange="dataSelect(this)"></select>


      <!--these will take you to the SpecificCup page-->
      <select id="world_cup_selector" class="box" onchange="dataSelect(this)">
	<option>World Cups</option>
      </select>

      <button id="goal-scorers">Top 10 Goal Scorers</button>
      
      <!--based on team selection in team_selector dropdown
	  (if a team is selected, just shows games that the
	  team played in. Maybe can show the results of two
	  teams against each other? See if that's possible.-->
      <button id="match-results">Match results</button>



    <!--
    <div id="menu">
      <div>
	<select id="team_selector" class="box" onchange="dataSelect(this)"></select>
      </div>

      <div id="spacer-white"></div>
      <div id="spacer-black"></div>
      <div id="spacer-white"></div>
      <div>
	<select id="p2" class="box" onchange="dataSelect(this)">
          <option>Number of Medals Teams Won</option>
          <option>Top 10 highest scorers (from any team)</option>
          <option>Attendance</option>
	  <option>Results of each match played</option>
          <option selected>Teams that won gold medals</option>
	</select>
      </div>
    </div>
    -->
    <p>Results printed below.<p>
    <div><table id="results"></table></div>
    

</body>
</html>
