<!--Rodrick and Thea-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>World Cup Explorer</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cups.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='cups.js') }}" ></script>
</head>

<body>   

    <ul class="horizontal-navbar">
        <li><a href="/">Home</a></li>
	<li><a href="/help">Help</a></li>
    </ul>
 
    <h3 id="page-title"></h3> 
 
    <div id="menu">
      <div>
	<select id="world_cup_selector" class="box" onchange="dataSelect(this)"></select>
      </div>
      <div id="spacer-white"></div>
      <div id="spacer-black"></div>
      <div id="spacer-white"></div>
      <div>
	<select id="p2" class="box" onchange="dataSelect(this)">
          <option>Total number of medals all time</option>
          <option>Top 10 highest scoring players of all time</option>
          <option>List of coaches and what World Cup each coached</option>
	  <option>Total number of won games</option>
	  <option>List of results of each game played</option>
          <option selected>All team queries</option>
	</select>
      </div>
    </div>
    
    <div id="results">Results</div>

</body>
</html>
