#Rodrick Lankford and Thea Traw

'''
Description of dataset:
This dataset contains data from all of the Men's World Cups held from 1930 to 2014. The data includes information on the WCs themselves (host country, winners, attendance, etc), the matches played (date, stadium, scores, etc), and the players (name, team, goals scored in a certain match, coach, etc).
Obtaining the dataset requires one to make a kaggle account. You can either go on the kaggle
website and type in the search bar fifa world cup, or simply go to this website 
https://www.kaggle.com/abecklas/fifa-world-cup to find the dataset. Click the download button in
the middle right of the screen to get the all the dataset files.
'''
'''
Example user stories:
1.
STORY: A Brazil soccer team fan can get a list of the total number of goals their team scored in each World Cup. 
They could then use this information to compare with another team and find out who was more prolific, all-time or in a certain WC.
IMPLEMENTATION: One way to do this would be to first have a dropdown list of all the World Cups, from which the user could pick the one they want to make queries about. Then, there could be a dropdown list of all the teams, in which the user can select the team (or perhaps teams?) they want to search information for. Then, a different drop down menu could have a list of different query choices, including the number of goals scored, as well as other options.
2.
STORY: Someone may want to see the roster of their team at a given World Cup.
IMPLEMENTATION: The user can choose a specific World Cup from a drop down menu, then select their team from a different drop-down menu. They can then select the query asking about the roster from a select box to get the answer.
3. STORY: A user wants to find out who was the most dominant player in terms of goals scored in a certain WC.
IMPLEMENTATION: We can have a way to choose a specific World Cup (drop-down menu) and then to ask a query about all players (maybe a button?). Then the user can see a list of all the players and the numbers of goals they've scored from greatest to least. There could also be a filter for what year the user wants to look at. Also, perhaps a range filter (top 10, top 20, etc).
4.
STORY: A soccer fan can find out whether their team tends to be more dominant, goals-wise, in the first half or the second half of a game, given a specific WC run. This could, for example, allow a fan of team France to see if in the 1998 WC, the team was more a ‘first half’ or ‘second half’ team. 
IMPLEMENTATION: To do this, we could use the same drop-down menu (for all of the World Cups) for the user to select a specific World Cup, then they could choose their team from another drop-down menu of all the teams. Finally, they could choose this query from yet another drop-down (there's definitely a cleaner way to do this query-asking--this is kind of clunky and also not very flexible--but this should work) and get the results.
5. 
STORY: A fan might want to see how their favorite team has fared versus their rival in all WC competitions. For instance, a 
team France fan could see the results of all WC matches played against team England over all WCs. 
IMPLEMENTATION: There would have to be two drop-down menus/search boxes (not exactly sure which would be cleaner/easier) to select the two teams to be compared from. Then, maybe there’s something to click that says ‘compare’ that produces a list of all of the match-ups between the two teams and the score.
6. 
STORY: A user wants to know how many times their favorite team (USA) has won a medal at a World Cup 
IMPLEMENTATION: This would need something to click that says ‘all-time records’ and then have a drop-down menu to choose the specified team. Then, an option to make this query (maybe a button? maybe a drop-down menu?) could be used and the results would be displayed.

'''
